</<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  <%  if(dayName === 'Saturday' || dayName === 'Sunday'){ %>
      <h1 style="color: blue"><%= dayName %> List !<h1>
  <%} else { %>
      <h1 style="color: yellow"><%= dayName %> List !<h1>
  <%} %>
  </body>
</html>
